<section class="covers-section">
  <div class="container covers-container">
    <h2 class="visually-hidden">Covers</h2>
    <ul class="covers-list">
      <li class="covers-row">
        <ul class="covers-row-list">
          <li class="covers-row-item">
            <img
              src="img/covers/covers-2.webp"
              alt="Energy.flow project picture"
              srcset="
                img/covers/covers-2.webp    1x,
                img/covers/covers-2@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-3.webp"
              alt="fruitbox project picture"
              srcset="
                img/covers/covers-3.webp    1x,
                img/covers/covers-3@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-4.webp"
              alt=""
              srcset="
                img/covers/covers-4.webp    1x,
                img/covers/covers-4@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
        </ul>
      </li>
      <li class="covers-row">
        <ul class="covers-row-list">
          <li class="covers-row-item">
            <img
              src="img/covers/covers-7.webp"
              alt="Power pulse project picture"
              srcset="
                img/covers/covers-8.webp    1x,
                img/covers/covers-1@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-5.webp"
              alt=""
              srcset="
                img/covers/covers-5.webp    1x,
                img/covers/covers-1@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-7.webp"
              alt="Green Harvest project picture"
              srcset="
                img/covers/covers-7.webp    1x,
                img/covers/covers-1@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-6.webp"
              alt="reviving the traditional  Ukrainian project picture"
              srcset="
                img/covers/covers-6.webp    1x,
                img/covers/covers-6@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-10.webp"
              alt="English excellence project picture"
              srcset="
                img/covers/covers-10.webp   1x,
                img/covers/covers-1@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
        </ul>
      </li>
      <li class="covers-row">
        <ul class="covers-row-list">
          <li class="covers-row-item">
            <img
              src="img/covers/covers-10.webp"
              alt="English excellence project picture"
              srcset="
                img/covers/covers-10.webp    1x,
                img/covers/covers-10@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-4.webp"
              alt=""
              srcset="
                img/covers/covers-4.webp    1x,
                img/covers/covers-4@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-9.webp"
              alt="Wallet project picture"
              srcset="
                img/covers/covers-9.webp    1x,
                img/covers/covers-1@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-1.webp"
              alt="StarlightStudio project
            picture"
              srcset="
                img/covers/covers-1.webp    1x,
                img/covers/covers-1@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-6.webp"
              alt="reviving the traditional  Ukrainian project picture"
              srcset="
                img/covers/covers-6.webp    1x,
                img/covers/covers-6@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
        </ul>
      </li>
      <li class="covers-row">
        <ul class="covers-row-list">
          <li class="covers-row-item">
            <img
              src="img/covers/covers-7.webp"
              alt="Green Harvest project picture"
              srcset="
                img/covers/covers-7.webp    1x,
                img/covers/covers-7@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-2.webp"
              alt="Energy.flow project picture"
              srcset="
                img/covers/covers-2.webp    1x,
                img/covers/covers-2@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-3.webp"
              alt="fruitbox project picture"
              srcset="
                img/covers/covers-3.webp    1x,
                img/covers/covers-3@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-8.webp"
              alt="Power pulse project picture"
              srcset="
                img/covers/covers-8.webp    1x,
                img/covers/covers-8@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-5.webp"
              alt=""
              srcset="
                img/covers/covers-5.webp    1x,
                img/covers/covers-5@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
        </ul>
      </li>
      <li class="covers-row">
        <ul class="covers-row-list">
          <li class="covers-row-item">
            <img
              src="img/covers/covers-4.webp"
              alt=""
              srcset="
                img/covers/covers-4.webp    1x,
                img/covers/covers-4@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-8.webp"
              alt="Power pulse project picture"
              srcset="
                img/covers/covers-8.webp    1x,
                img/covers/covers-8@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
          <li class="covers-row-item">
            <img
              src="img/covers/covers-10.webp"
              alt="English excellence project picture"
              srcset="
                img/covers/covers-10.webp    1x,
                img/covers/covers-10@2x.webp 2x
              "
              width="282"
              height="163"
              loading="lazy"
            />
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
